body{
    
    width: 40%;
    margin:0 auto;
}
h1{
    text-align: center;
    color: darkblue;
}
table{
    width: 100%;
}
#gomb{
    text-align: right;
    
}

button{
    border-radius: 40%;
    background-color: blue;
    color: #fff;
    
}
.kisebb{
    display: inline-block;
    width: 50%;
}
.teljes{
    width: 100%;
}
